@if ((SettingsService.CurrentSettings | async)?.defaultLayerSettings?.interaction != 0) {
  <div
    class="visualization__background"
    [style.background-image]="BackgroundImage"
  ></div>
}

@if ((SettingsService.CurrentSettings | async)?.defaultLayerSettings?.interaction == 3) {
  <div
    class="visualization__lens-fullscreen"
    [style.visibility]="ShowLens ? 'visible' : 'collapse'"
    [style.background-image]="CurrentImage">
  </div>
}

@if ((IdleService.ShowIdleScreen | async) !== true && (SettingsService.CurrentSettings | async)?.defaultLayerSettings?.interaction != 0 && (SettingsService.CurrentSettings | async)?.defaultLayerSettings?.interaction != 3) {
  <div class="visualization_lens--container"
    >
    @for (elem of LensProperties; track $index; let idx = $index) {
      <app-lens
        [style.visibility]="ShowLens ? 'visible' : 'collapse'"
        [LensScale]="(SettingsService.CurrentSettings | async)?.defaultLayerSettings?.lensSize ?? 1.0"
        [Properties]="elem"
        [ShowLensUI]="(SettingsService.CurrentSettings | async)?.defaultLayerSettings?.showLenseUI ?? false">
        {{idx}}
      </app-lens>
    }
  </div>
}

