@import "styles";

:host {
    position: absolute;

    top: 10vh;
    left: 10vw;
    
    width: 50px;
    height: 80vh;

    overflow: hidden;
}

.depth-range {
    height: 100%; 
}

.zero-layer, .current-layer {
    position: absolute;
    width: 30px;
    top: 0.8%;
}

.zero-layer {
    // background-color: rgba(69, 145, 203, 0.75);
    transform: scaleY(1.1);
}

.current-layer {
    background-color: $color-primary;
    margin-top: -25%;
    border: 2px solid $color-white;
}

.layer {
    position:absolute;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    border-radius: 3rem;
    border: 2px solid $color-white;

    height: 100%;
    width: 30px;  
    
    margin-left: 10px;

    background-color: #333;

    z-index: 100;

    &-border {
        display: block;
        height: 1px;
        background-color: #aaa;
        width: 100%;

        // margin-right: -10px;       
    }

    &-borders {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        & div:first-of-type, & div:last-of-type {
            visibility: hidden;
        }
    }

    &-index {
        text-align: center;
        margin-left: -10px;
        margin-top: 50%;

        color: white;
        font-size: 2rem;
    }
}

.point {
    &-position {
    position: absolute;
    width: 100%;
    height: 100%;    

    top: -7.5px;
    left: 2.5px;

    z-index: 200;

    overflow: hidden;
    }

    &-visualization {
        border-radius: 100%;
        background-color: #333;
        border: 2px solid white;

        transform: translate(15px, 0px);

        width: 15px;
        height: 15px;
    }
}